.search-input {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 41%;
}

.search-btn {
    margin-top: 1%;
    margin-bottom: 1%;
}

.search-list {
    margin-right: 0.2%;
    border-radius: 1%;
    border-width: 1%;
}